<link rel="stylesheet" href="/css/home.css">


<h1>Home Page</h1>
        
<div id="home-container">

        <div id="main">
                <h1>Main Section</h1>
                <h2> Log In to see all the features</h2>
        </div>

        <div id="aside">
                <h1>Aside Section</h1>
                <h2>
                        I choose a lazy person to do a hard job. Because a lazy person will find a easy way to do it.
                </h2>
                <h2 style="color: tomato;">-- Bill Gates</h2>
        </div>
</div>