
<link rel="stylesheet" href="/css/typeB.css">


<section class="xop-container" style="height: 700px;">
    <div class="xop-left">
        <article>
            <h1>Image 1</h1>
            
            <a class="xop-button">Explore</a>
        </article>
    </div>    
    <div class="xop-right">
        <article>
            <h1>Image 2</h1>
            <a class="xop-button">Explore</a>
        </article>
    </div>
</section>